* {
  box-sizing: border-box;
}

.card_container {
  width: 100%;
  height: 320px;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_head {
background-color: rgb(34, 77, 170);
color: white;
font-weight: bold;
padding: 1%;
height: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.card_top {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  border-bottom: 3px solid rgb(34, 77, 170);
} 

.card_bottom {
  height: 100px;
  display: flex;
  flex-direction: column;

  justify-content:space-between;
  align-items: center;
}

.card_direction {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding-bottom: 4px;
}

.flight_time {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
}

.change_flight {
color: rgb(230, 169, 56);
}

.card_choose_button {
  width: 100%;
  height: 50px;
  color: white;
  font-weight: bold;
  font-weight: bold;
  border: 1px solid transparent;
  background-color: rgb(230, 169, 56);
}

.card_choose_button:active {
  transform: translateY(2px);
}

.card_choose_button:hover {
  background-color: rgb(252, 219, 158);
}


.company {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}


